<footer>
    <div class="container">
        <div class="text-center">

            <p style="font-size: 0.9rem;" class="pt-2 pb-1 px-2" data-aos="fade-up" data-aos-duration="1500">
                Merupakan suatu kehormatan dan kebahagiaan bagi kami apabila, Bapak / Ibu / Saudara / i.
                berkenan hadir untuk memberikan do'a restunya kami ucapkan terimakasih.
            </p>

            <h1 class="font-esthetic" data-aos="fade-up" data-aos-duration="2000">Wassalamualaikum Warahmatullahi Wabarakatuh</h1>
            <h1 class="font-arabic py-4 px-2" data-aos="fade-up" data-aos-duration="2000" style="font-size: 2rem">اَلْحَمْدُ لِلّٰهِ رَبِّ الْعٰلَمِيْنَۙ</h1>

            <hr class="mt-3 mb-2">

            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <small class="text-light">
                        Build with<i class="fa-solid fa-heart mx-1"></i>Teh Botol Sosro
                    </small>
                </div>
                <div class="col-auto">
                    <small>
                        <i class="fa-brands fa-github me-1"></i><a target="_blank" href="https://adisupiansah.github.io/">My website profile</a>
                        <i class="bi bi-instagram me-1"></i><a target="_blank" href="https://www.instagram.com/adi.spiansyh/">adi.spiansyh</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</footer>