<div class="loading-page" id="welcome" style="opacity: 1;">
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh !important;">

        <div class="text-center">
            <h1 class="font-esthetic mb-4" style="font-size: 2.5rem;">The Wedding Of</h1>

            <div class="img-crop border border-3 border-light shadow mb-4 mx-auto">
                <img src="./assets/images/bg.jpeg" alt="bg">
            </div>

            <h1 class="font-esthetic my-4" style="font-size: 2.5rem;">Yuriska & Riski</h1>
            <div id="nama-tamu"></div>

            <button type="button" class="btn btn-light shadow rounded-4 mt-4" onclick="util.buka(this)">
                <i class="fa-solid fa-envelope-open me-2"></i>Buka Undangan
            </button>
        </div>
    </div>
</div>